{{log "actions-block-mini.hbs this" this}}

<div class="hud-actions">
    {{#if actions.length}}
        <div class="mini-actions-buttons">
            {{#each actionList as |actionGroup actionGroupName|}}
                <li class="actionCard-roll {{#if actionGroup.data.hasResource}}{{#if actionGroup.data.hasUses}}hasCharges {{else}}noCharges {{/if}}{{/if}} mini-action action-header with-background-image flexrow"
                    data-action-group="{{actionGroupName}}" data-sourceitem-id="{{../item.id}}"
                    data-tooltip="{{actionGroupName}}" style="background-image: url('{{actionGroup.img}}')">
                    <div class="mini-action-button action-name rollable" data-type="action-name">
                        {{actionGroupName}}
                    </div>
                </li>
            {{/each}}
        </div>
    {{/if}}
</div>