<div class="flexcol character-main-block">
    <div class="general-header">{{ localize "ARS.sheet.actor.character" }}</div>
    <div class="flexrow">
        <div style="height: 24px;">
            <label>{{ localize "ARS.classname" }}</label>
        </div>
        <div class="character-class character-browser-director resource" data-type="class" style="padding-right: 10px;">
            {{#if system.classname}}{{system.classname}}{{else}}{{localize 'ARS.clicktoadd'}}{{/if}}
        </div>
        <div>
            <label>{{ localize "ARS.race" }}</label>
        </div>
        <div class="character-race character-browser-director resource" data-type="race">
            {{#if @root.actor.racename}}{{@root.actor.racename}}{{else}}{{localize 'ARS.clicktoadd'}}{{/if}}
        </div>
    </div>
    <div class="flexrow">
        <div>
            <label>{{ localize "ARS.alignment" }}</label>
        </div>
        <select class="character-alignment resource selector" name="system.details.alignment">
            {{selectOptions config.alignmentTypes selected=system.details.alignment localize=true}}
        </select>
        <div>
            <label>{{ localize "ARS.background" }}</label>
        </div>
        <div class="character-background character-browser-director resource" data-type="background">
            {{#if system.backgroundname}}{{system.backgroundname}}{{else}}{{localize 'ARS.clicktoadd'}}{{/if}}
        </div>
    </div>

    <div class="flexrow">
        <div>
            <label>{{ localize "ARS.size" }}</label>
        </div>
        <select class="character-size resource selector" name="system.attributes.size">
            {{selectOptions config.sizeTypes selected=system.attributes.size localize=true}}
        </select>
        <div>
        </div>
        <div style="flex-grow:2;">
        </div>
    </div>

</div>

<div class="ability-save-grid">

    {{!-- ability scores --}}
    {{> "systems/ars/templates/actor/parts/abilityScore-block.hbs"}}

    {{!-- saves --}}
    {{> "systems/ars/templates/actor/parts/save-block.hbs"}}
</div>