{{!-- npc build tools --}}
<div class="npc-build-tools">
    <div style="border: none;padding: 2px;">
        <span><b>{{localize "ARS.npcBuildTools"}}</b></span>
    </div>
    {{> "systems/ars/templates/actor/parts/npc-buildspelllist.hbs"}}
    {{> "systems/ars/templates/actor/parts/npc-buildactions.hbs"}}
</div>