{{!-- spells  --}}
{{!-- {{#if actor.hasSpellSlots}} --}}
<div style="margin-bottom: 3px;" class="spell-block">
    {{> "systems/ars/templates/actor/parts/memorization-block.hbs"}}
</div>
{{!-- {{/if}} --}}