{{log "import-sheet.hbs THIS===" this}}

<section>

    <head>
        <title>Import NPC Stat block</title>
        <div>Expected Format:</div>
        <span style="font-size:0.75em;display:block;text-align:center;"><b>{{localize expected}}</b></span>
    </head>

    <body>
        <form style="height:90%;width:100%" class="{{cssClass}} custom-form" autocomplete="off" id="importform">
            <textarea style="height:80%;width:100%" id="importext" name="importext"
                placeholder="Enter your text here..."></textarea>
            <div style="display: flex;align-items: center;">
                <input type="checkbox" id="inputAddMarkup" name="inputAddMarkup" value="{{addMarkup}}"
                    {{checked addMarkup}} />
                <label for="inputAddMarkup">{{localize "ARS.importtools.addmarkup"}} </label>
                <a class="content-link" data-link="" style="margin-left: auto;" draggable="true"
                    data-hash={{ARS.HELP.actor.importtools.hash}} data-uuid={{ARS.HELP.actor.importtools.uuid}}
                    data-id={{ARS.HELP.actor.importtools.id}} data-type={{ARS.HELP.actor.importtools.type}}
                    data-pack={{ARS.HELP.actor.importtools.pack}} data-tooltip="Documentation: Import Actor Tools"><i
                        class="fas fa-file-lines"></i>Help</a>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>

</section>