// @import url('https://fonts.googleapis.com/css2?family=Friz Quadrata:wght@400;800&family=Roboto:wght@300;400;500&display=swap');
// $font-primary: 'Friz Quadrata', sans-serif;
// $font-secondary: 'Friz Quadrata', sans-serif;

// @import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

// $font-primary: 'Libre Franklin', sans-serif;
// $font-secondary: 'Libre Franklin', sans-serif;

$font-primary: 'Arial', 'Sans-serif';
// $font-primary: 'Modesto Condensed', 'Palatino Lino';
$font-secondary: 'Arial', 'Sans-serif';

html * {
    // font-size: 0.99em;
    // color: $default-color;
}
