<form>
    <div class="flexrow">
        <b>{{question}}</b>
    </div>
    <div class="flexrow">
        <b>{{title}}</b>
        <div>
            {{#if actor.inventory}}
                <select class="onuse-item-select" name="inventorySelect">
                    {{!-- {{#select inventorySelect}}
                        {{#each inventoryList as |item idx|}}
                            {{#if item.system.quantity}}
                                <option value="{{item.id}}">{{item.name}}</option>
                            {{/if}}
                        {{/each}}
                    {{/select}} --}}
                    {{!-- need to make a actor.inventoryWithCount or something to use with selectOptions --}}

                    <option value="">{{localize "ARS.none"}}</option>
                    {{selectOptions inventoryList selected=inventorySelect localize=true valueAttr="id" labelAttr="name"}}
                </select>
            {{else}}
                <label>{{localize "ARS.noinventory"}}</label>
            {{/if}}
        </div>
    </div>
</form>