<form>
    <div class="flexrow">
        <div class="flexcol">
            <b>{{question}}</b>
            <input name="quantity" type="number" value="{{default_amount}}" min="{{mincount}}" max="{{maxcount}}"
                data-dtype="Number" />
        </div>
</form>