<div class="trade-request-dialog">
    <p>Please select a player:</p>
    <select id="trade-player-select">
        <option value="">{{localize "ARS.none"}}</option>
        {{selectOptions customers selected=trade-player-select valueAttr="id" labelAttr="name" localize=true}}
    </select>
    {{#if trader.isGM}}
        <div>Select Token that you will be trading as:</div>
        <div>
            <select id="gm-selected-token">
                <option value="">{{localize "ARS.none"}}</option>
                {{selectOptions tokens selected=gm-selected-token valueAttr="id" labelAttr="name" localize=true}}
            </select>
        </div>
    {{/if}}

</div>