{{log "actions-block-inventory.hbs this" this}}
{{#if actor.actionInventory}}
    {{#each actor.actionInventory as |item id|}}
        {{log "actions-block-inventory.hbs item" item}}
        {{#if (eq item.system.location.state 'nocarried') }}
            {{!-- do nothin, not showing actions for not carried gear --}}
        {{else}}
            {{#if item.system.actions}}
                {{> "systems/ars/templates/apps/parts/actions-block.hbs" actor=@root.actor actions=item.system.actions actionList=item.system.actionList item=item}}
            {{/if}}
        {{/if}}
    {{/each}}
{{/if}}


{{#if useActionV2}}
    {{!-- V2 item actions --}}
    {{#each actor.items as |item id|}}
        {{#if item.actionGroups.size}}
            {{> "systems/ars/templates/apps/parts/actions-blockV2.hbs" actor=@root.actor actionGroups=item.actionGroups item=item}}
        {{/if}}
    {{/each}}
{{/if}}