{{#if actor.classes}}
    {{!-- <fieldset class="border-top">
        <legend>{{ localize "ARS.class.classTitle" }} </legend> --}}

    <div class="general-header ars_clps{{#if (getViewState @root.actor.id "class")}} ars_clps_on{{/if}}"
        data-vs-control="class">{{ localize "ARS.class.classTitle" }}</div>
    <div class="class-list ars_clps_container">
        <div style="text-align: center;" class="general-subheader flexrow">
            <div class="short-field"></div>
            <div class="class-active">Active</div>
            <div class="class-name">Name</div>
            <div class="class-level">Level</div>
            <div class="class-level-exp" data-tooltip="{{localize "ARS.exp"}}">Earned / Next</div>
            {{!-- <div class="class-xp">Next</div> --}}
            <div class="class-control"></div>
            <div class="class-control"></div>
            <div class="item-controls"></div>
        </div>
        {{#each actor.classes as |item id|}}
            {{!-- {{log "actor/classlist-block.hbs item----------->" item}} --}}
            <li style="align-items:center;text-align: center;"
                class="class item flexrow {{#if item.system.active}}active{{else}}inactive{{/if}}"
                data-id="{{item.id}}">

                <div class="short-field"><img src="{{item.img}}" data-tooltip="{{item.name}}" width="24" height="24" />
                </div>
                <div class="class-active">
                    {{#if item.system.active}}Yes{{else}}No{{/if}}
                </div>
                <div class="class-name">{{item.name}}</div>
                <div class="class-level">{{item.classDetails.level}}</div>
                <div class="class-level-exp">{{item.system.xp}} / {{item.classDetails.neededxp}}</div>
                {{#if item.system.active}}
                    {{!-- {{#if (gte item.system.xp item.classDetails.neededxp)}} --}}
                    <div data-tooltip="{{ localize "ARS.class.addlevel" }}"
                        class="class-control class-addlevel flexrow {{#if (gte item.system.xp item.classDetails.neededxp)}}canlevel{{else}}not-enough-xp{{/if}}"
                        data-action="addlevel">
                        {{localize "ARS.class.addlevel"}}
                        <a><i class="fas fa-user-plus"></i></a>
                    </div>
                    <div data-tooltip="{{ localize "ARS.class.removelevel" }}"
                        class="class-control class-removelevel flexrow" data-action="removelevel">
                        {{localize "ARS.class.removelevel"}}
                        <a><i class="fas fa-user-minus"></i></a>
                    </div>
                {{/if}}
                {{!-- </div> --}}
                <div class="item-controls">
                    <a class="item-control item-edit" data-tooltip="{{ localize "ARS.class.edit" }}"><i
                            class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" data-tooltip="{{ localize "ARS.class.delete" }}"><i
                            class="fas fa-trash"></i></a>
                </div>
            </li>
        {{/each}}
    </div>
    {{!-- </fieldset> --}}
{{/if}}