{{#if (eq actor.type 'npc')}}
    {{log "npc-buildactions.hbs" this}}
    <div class="general-header" data-tooltip="{{localize "ARS.createActionList.createdescription"}}">
        {{localize "ARS.createActionList.create"}}
    </div>
    <div class="createactionlist-control">
        <div class="flexrow general-subheader">
            <label for="customSpellType" class="label-control-custom"
                data-tooltip="{{localize "ARS.createActionList.typedescription"}}">{{localize "ARS.createActionList.type"}}</label>
            <label class="input-control">{{localize "ARS.createActionList.actionlist"}}</label>
        </div>
        <div class="flexrow">
            <input class="label-control-custom customSpellType" type="text" data-dtype="String" placeHolder="Divine"
                value="Arcane" />
            <input class="customSpellList input-control" type="text" data-dtype="String"
                placeHolder="Comma, separated, spell, list" />
        </div>

        <button class="createactions-button">{{localize "ARS.createActionList.create"}}</button>
    </div>
{{/if}}