{{#if (eq actor.type 'npc')}}
    {{log "npc-buildspellist.hbs" this}}
    <div class="general-header" data-tooltip="{{localize "ARS.createSpellList.spellistdescription"}}">
        {{localize "ARS.createSpellList.createspelllist"}}</div>
    <div class="createspelllist-control">
        <div class="flexrow">
            <label for="arcaneSpellList" class="label-control"
                data-tooltip="{{localize "ARS.createSpellList.typedescription"}}">{{localize "ARS.createSpellList.arcane"}}</label>
            <input class="arcaneSpellList" type="text" class="input-control" data-dtype="String"
                placeHolder="Comma, separated, arcane, spell, list" />
        </div>
        <div class="flexrow">
            <label for="divineSpellList" class="label-control"
                data-tooltip="{{localize "ARS.createSpellList.typedescription"}}">{{localize "ARS.createSpellList.divine"}}</label>
            <input class="divineSpellList" type="text" class="input-control" data-dtype="String"
                placeHolder="Comma, separated, divine, spell, list" />
        </div>
        <button class="createspelllist-button">{{localize "ARS.createSpellList.createspelllist"}}</button>
    </div>
{{/if}}