<form class="flexcol {{cssClasses}}" autocomplete="off">
    {{log "action-sheetV2.hbs THIS===" this}}
    <header></header>

    {{!-- navigation  --}}
    <nav class="sheet-tabs" data-group="primary">
        <div class="tabs flexrow">

            <a class="item tab-item" data-tab="main" data-tooltip="{{ localize "ARS.tabs.main" }}">
                <i class="fas fa-dice-d20"></i>
            </a>

            <a class="item tab-item" data-tab="description" data-tooltip="{{ localize "ARS.tabs.description" }}">
                <i class="fas fa-feather"></i>
            </a>

    </nav>

    <section class="sheet-body">
        {{!-- tab main --}}
        <div class="tab main" data-group="primary" data-tab="main">
            {{> "systems/ars/templates/apps/actionV2/action-tab-main.hbs"}}
        </div>

        {{!-- tab description --}}
        <div class="tab description" data-group="primary" data-tab="description">

            {{#includes action.type 'cast||castmelee||castranged'}}
                <div class="general-header" data-tooltip="Shown when cast">
                    {{localize "ARS.details"}}
                </div>
                <div class="short-editor" style=" min-width: 400px;">
                    {{editor enrichedMisc target="misc" button=true editable=isEditable }}
                </div>
            {{/includes}}

            <div class="general-header">{{localize "ARS.description"}}</div>
            <div class="description-text" style="min-width: 400px;">
                {{editor enrichedDesc target="description" button=true editable=isEditable }}
            </div>
        </div>
    </section>

    <footer class="sheet-footer">
        <button type="submit"><i class="fas fa-save"></i> {{localize "ARS.submit"}}</button>
    </footer>
</form>