{{log "action-group-editor.hbs this" this}}
<form class="action-group-edit-body">
    <label for="actionGroupName">Name:</label>
    <input class="action-group-name" type="text" name="name" value="{{actionGroup.name}}">

    {{!-- <label for="actionGroupSpeed">Speed:</label>
    <div>{{speed}}</div> --}}

    <label for="actionGroupDescription">Description:</label>

    <div class="description-text">
        {{editor enrichedDescription target="description" button=true editable=isOwner engine=prosemirror}}
    </div>

    <footer class="sheet-footer">
        <button type="submit"><i class="fas fa-save"></i> {{localize "ARS.submit"}}</button>
    </footer>
</form>