{{log "ITEM: actions-block-list.hbs" this}}
<div class="action-block">
    <div class="actions">
        <li class="general-header flexrow">
            <div class="item-header flex-text-center">{{ localize "ARS.actions.actionsTitle" }} <a
                    class="item-control action-controls action-create"
                    data-tooltip="{{ localize "ARS.actions.create" }}" data-action="create"><i
                        class="fas fa-plus"></i></a>
                {{#if useActionV2}}
                    {{!-- v2 actions test --}}
                    <a class="action-group-controlsV2" data-tooltip="{{ localize "ARS.actions.create-group" }}"
                        data-action="create"><i class="fas fa-plus"></i></a>
                {{/if}}
            </div>
            {{!-- <div class="item-controls" style="flex-basis: 25px;flex-grow: 0;text-align: center;font-size: 10px;">

            </div> --}}
        </li>
        {{> "systems/ars/templates/apps/parts/actions-block.hbs" actor=item.actor actions=system.actions actionList=item.system.actionList }}
        {{#if useActionV2}}
            {{> "systems/ars/templates/apps/parts/actions-blockV2.hbs" actor=item.actor actionGroups=item.actionGroups}}
        {{/if}}
    </div>
</div>