:root {
    --ars_navy: #2a2e75;
    --ars_action_title: #39526c;
    --ars_cyan: #22c0fc;
    --ars_purple_dark: #25163f;
    --ars_purple_darker: #1f1c22;
    --ars_purple_dark_header: #342f3a;
    --ars_purple_light: #2e2631;
    --ars_purple_light2: #7c6378;
    --ars_red: #e22522;
    --ars_red_dark: #6e1513;
    --ars_yellow: #e8dbae;
    --ars_highlight: #e3dadc;
    --ars_goldenrod: #daa520;
    --ars_grey: grey;
    --ars_dice_background: rgb(196, 196, 196);
    --ars_success_header_green: #7e9f86;
    --ars_success_green: #e1e9de;
    --ars_failure_red: #d3b4b4;
    --ars_failure_header_red: #864c4c;
}

.fa-plus,
.fa-minus {
    transition: transform 0.3s ease;
}

.fa-plus:hover,
.fa-minus:hover {
    transform: scale(1.5); /* Slightly increases the size */
}

/* This affects the width of the entire scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

/* This affects the width of the draggable scrolling element (the "thumb") */
::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 6px;
}

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   color: --default-color;
//   color: --default-color;
// }

.hidden {
    display: none;
}

// ol, ul, li {
//   list-style-type: none;
//   margin: 0;
//   padding: 0px;
// }
// ol, ul {
//   padding-bottom: 2px;
// }

.grouping-border {
    border: 2px groove;
    padding: 1px;
    margin: 6px;
}

fieldset.border-top {
    border: none;
    border-top: 1px solid #000;
}

fieldset.no-border,
fieldset.border-none {
    border: none;
}

fieldset.border-bottom {
    border: none;
    border-bottom: 1px solid #000;
}

fieldset {
    border: 1px solid #000;
    padding-top: 3px;
    margin: 1px;
    margin-top: 2px;
}

legend {
    font-weight: 600;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.general-header {
    text-align: left;
    font-weight: normal;
    background: var(--ars_purple_dark);
    padding: 3px 0px;
    font-size: var(--font-size-13);
    color: #fff;
    margin: 3px 0 3px 0;
    padding-left: 6px;
    border-radius: 5px;
}

.general-subheader {
    text-align: center;
    font-weight: normal;
    background: var(--color-border-light-primary);
    padding: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.general-footer {
    min-height: 3px;
    width: 100%;
}

.button-box {
    background-color: rgba(206, 162, 67, 0.514);
    border: 3px outset grey;
}
// this is the css for inline-roll clickables
// a.inline-roll {
//   margin: 5px;
// }

.playerlist-trade-button {
    line-height: inherit;
    font-size: 0.85rem;
    width: calc(100% - 0.5rem);
    margin: 0.25rem;
    background: rgba(60, 60, 60, 0.6);
    border: 1px solid black;
    color: white;
}

// change the default css for select to have a white background
select,
input[type],
textarea {
    // nudge from new maching -- will figure out a way to have the best of both worlds regarding form elements and stop fighting their lame grey background
    background: white;
    margin: 2px 2px 2px 0px !important;
    border-radius: 5px;
    color: var(--color-text-dark-primary);
}
input[type='range'] {
    background: transparent;
}
input[disabled]:not([name='formula']) {
    background: var(--ars_highlight);
}
input[type='number'] {
    padding-right: 0px !important;
}

ol.subdirectory {
    margin-left: 10px;
}

//TODO: would be awesome to be able to use AD&D here?
#pause img {
    content: url('assets/system/pause.png');
    opacity: 1;
}

// #region spencer -- all of this will be shelved in proper files when complete

// todo: shelve this css when completely finished -

// sidebar, popout and journal - new ars purple darker color
#sidebar.app,
.app.tab.sidebar-tab.sidebar-popout,
.journal-sheet {
    background: var(--ars_purple_darker);
}

// remove ugly banner from compendiums
.directory-item.compendium > img {
    display: none;
}

.compendium.directory .directory-header .header-banner {
    background-image: none !important;
}

// compendium sidebar tweaks
.compendium-sidebar .directory-item.compendium .compendium-name {
    flex: none;
    width: auto;
    max-width: 100% !important;
    text-align: left;
    font-size: 0.9em;
}
.compendium-sidebar .directory-item.compendium {
    align-items: flex-start;
}

.directory-item.compendium .level1 {
    background: var(--ars_purple_dark_header);
}

// chat card tweaks - extensive
.message-header.flexrow {
    // background: white;
    padding: 3px;
}
.attack-text-breakdown {
    display: flex;
}

.message-sender > .flexrow .secure-name {
    text-align: left !important;
}

// party sheet tweaks
div.party-sidebar,
div.party-tracker {
    padding: 10px;
}
.party-members nav > * {
    margin-left: 12px;
}
.party-members nav > div {
    margin-top: 6px;
    margin-bottom: 21px;
}
.sidebar-tab .party-tracker .party-members .entry .member {
    font-size: 1em;
}
.party-awards,
.party-logs {
    padding: 8px;
}

// combat tracker tweaks
ol#combat-tracker .combatant {
    margin-bottom: 10px;
}

// effect building view tweaks
.effect-change {
    input,
    select {
        min-width: 100px;
    }
    textarea {
        min-height: 80px;
        min-width: 100px;
        width: 200px;
        height: 100px;
        max-width: 85%;
        max-height: 50%;
    }
}

// #endregion spencer stops here

img {
    border-radius: 5px;
}

.rolledTotal.dice-total {
    background: transparent;
    padding: 2px;
}

.dice-total.rolledTotal::before {
    content: '\f424';
    font-family: 'Font Awesome 6 Pro';
    position: absolute;
    font-size: 14px;
    left: 1px;
    width: 23px;
    height: 23px;
    border: 1px solid #fff;
    border-radius: 6px;
    background: #bfbfbf;
}
