<div class="sheet-card">

    {{!-- {{log "DEBUG chatCard-action.hbs message-->" message}}
    {{log "DEBUG chatCard-action.hbs THIS-->" this}}
    {{log "DEBUG chatCard-action.hbs config-->" config}}
    {{log "DEBUG chatCard-action.hbs data-->" data}}
    {{log "DEBUG chatCard-action.hbs actions-->" actions}}
    {{log "DEBUG chatCard-action.hbs actionGroup-->" actionGroup}}
    {{log "DEBUG chatCard-action.hbs actionGroupData-->" actionGroupData}} --}}

    <div class="action-card item">
        {{#if isPopout}}
        {{else}}
            <div class="non-owner-only-view">
                {{localize "ARS.unknownAction"}}
            </div>
        {{/if}}
        <div class="owner-only-view">
            {{#if isPopout}}
            {{else}}
                <div class="action-name" data-type="item" data-uuid="{{item.uuid}}" data-id="{{item.id}}">
                    <div class="secure-name">{{#if item.name}}{{item.name}}{{/if}}</div>
                </div>
            {{/if}}
            <div class="card-buttons chatCard-action">
                {{> "systems/ars/templates/chat/parts/chatCard-actions-block.hbs" config=system.config }}
            </div>
        </div>
    </div>
</div>
</div>