{{log "chatCard-actions-blockV2.hbs this" this}}

{{!-- {{#if slotCast}} --}}
{{!-- {{#each (mapToArray actionGroups) as |actionGroup|}} --}}
{{>"systems/ars/templates/chat/parts/chatCard-action-block-entryV2.hbs" actionGroup=actionGroup}}
{{!-- {{/each}} --}}
{{!-- {{else}}
    {{>"systems/ars/templates/chat/parts/chatCard-action-block-entry.hbs"}}
{{/if}} --}}