{{!-- //TODO: Make this "aura" config part --}}

<div class="tab" data-group="main" data-tab="auras">

    {{!-- {{log "token-aura.hbs this" this}}
{{log "token-aura.hbs config" config}}
{{log "token-aura.hbs object" object}} --}}

    <div class="form-group">
        <label>{{localize "TOKEN.AuraEnabled"}}</label>
        <input type="checkbox" name="flags.world.aura.isEnabled" {{checked object.flags.world.aura.isEnabled}} />
        <p class="hint">{{ localize 'TOKEN.AuraEnabledTT' }}</p>
    </div>

    <div class="form-group">
        <label>{{localize "TOKEN.AuraSquare"}}</label>
        <input type="checkbox" name="flags.world.aura.isSquare" {{checked object.flags.world.aura.isSquare}} />
        <p class="hint">{{ localize 'TOKEN.AuraSquareTT' }}</p>
    </div>

    <div class="form-group">
        <label>{{localize "TOKEN.AuraColor"}}</label>
        <div class="flexrow">
            <input type="color" value="{{object.flags.world.aura.color}}" data-edit="flags.world.aura.color" />
            <input type="text" value="{{object.flags.world.aura.color}}" name="flags.world.aura.color" />
        </div>
        <p class="hint">{{ localize 'TOKEN.AuraColorTT' }}</p>
    </div>

    <div class="form-group">
        <label>{{localize "TOKEN.AuraOpacity"}}</label>
        <div class="flexrow">
            <input type="range" value="{{object.flags.world.aura.opacity}}" name="flags.world.aura.opacity" step="0.1"
                min="0" max="1" />
            <span class="range-value" placeholder="0.5">{{object.flags.world.aura.opacity}}</span>
        </div>
        <p class="hint">{{ localize 'TOKEN.AuraOpacityTT' }}</p>
    </div>

    <div class="form-group">
        <label>{{localize "TOKEN.AuraDistance"}}</label>
        <input type="number" data-dtype="Number" value="{{object.flags.world.aura.distance}}" step="any" min="1"
            name="flags.world.aura.distance" placeholder="10" />
        <p class="hint">{{ localize 'TOKEN.AuraDistanceTT' }}</p>
    </div>

    <div class="form-group">
        <label>{{localize "TOKEN.AuraPermission"}}</label>
        <select name="flags.world.aura.permission">
            {{!-- {{#select object.flags.world.aura.permission}}
                {{#each config.auraPermissisions as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}} --}}

            {{selectOptions config.auraPermissisions selected=object.flags.world.aura.permission localize=true}}
        </select>


        <p class="hint">{{ localize 'TOKEN.AuraPermissionTT' }}</p>
    </div>


</div>